# secure element subsystem
typeattribute secure_element coredomain;

# When the secure_element service is provided by the APK from
# packages/apps/SecureElement, we need it to be able to run as an app.
# When the APK version is removed, this line should be removed.
app_domain(secure_element)

# When the secure_element service is provided by the native service
# from system/secure_element/omapi, we need init to start it.
init_daemon_domain(secure_element)

binder_service(secure_element)
add_service(secure_element, secure_element_service)

allow secure_element app_api_service:service_manager find;
hal_client_domain(secure_element, hal_secure_element)

# already open bugreport file descriptors may be shared with
# the secure element process, from a file in
# /data/data/com.android.shell/files/bugreports/bugreport-*.
allow secure_element shell_data_file:file read;

allow secure_element vendor_uuid_mapping_config_file:file r_file_perms;
